<div class="container">
  <span style="background:#DDDDDD">ログイン</span>
    <div class="row">

    <%= form_with model: @customer, url:customer_session_path do |f| %>

    <table>
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: 'btn btn-primary' %></td>
      </tbody>
    </table>

    <% end %>
    </div>

  <span style="background:#DDDDDD">会員登録がお済みでない方</span></br>
  <%= link_to "こちら", new_customer_registration_path %>　からログインしてください。

</div>