<div class="container">
  <div style="margin:20px;">
  <h3><strong>商品一覧</strong>(全<%= @items.count %>件)</h3>
  </div>
  <div class="row" style="margin:10px;">
   <% @items.each do |item| %>
    <div class="col-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.image, width: 'auto', height: '150px' %>
      <% end %></br>
      <%= link_to item_path(item.id) do %>
        <%= item.name %>
      <% end %></br>
      ¥<%= item.price.to_s(:delimited) %></br>
    </div>
   <% end %>
   <%= paginate @items %>
   </div>
</div>