<div class="container">
  <div class="row">
    <%= image_tag @item.image, width: "auto", height: "200px" %>
    <%= @item.name %></br>
    <%= @item.introduction %></br>
      </div>
    <h6>¥<%= @item.with_tax_price %></h6><span>(税抜)</span>

  <%= form_with model: @cart_item, url: cart_items_path do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.select :amount, [1,2,3,4,5], include_blank: "個数選択" %>
      <%= f.submit "カートに入れる", class: 'btn btn-success' %>
  <% end %>

</div>